<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ("partials/header") %>
    <title>Home</title>
  </head>
  <body>
    <%- include ("partials/nav") %>
    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Project 7 - Google登入與本地登入系統</h1>
        <p class="col-md-8 fs-4">
          Project7的練習包括使用EJS、MongoDB、Passport.js、Authentication、OAuth(Google
          Login Setup) 和其他範例。
        </p>
        <button class="btn btn-primary btn-lg" type="button">
          學習如何製作網站！
        </button>
      </div>
    </div>
  </body>
</html>
