<!DOCTYPE html>
<html lang="en">

<head>
  <%- include ("partials/header") %>
    <title>Signup</title>
</head>

<body>
  <%- include ("partials/nav") %>
    <main style="padding: 3rem">
      <form action="/auth/signup" method="POST">
        <%- include ("partials/message") %>
          <div class="form-group">
            <label for="exampleUsername">Name:</label>
            <input name="name" type="text" class="form-control" id="exampleUsername" required minlength="3"
              maxlength="255" />
            <small class="form-text text-muted">Please enter your full name.</small>
          </div>
          <br />
          <div class="form-group">
            <label for="exampleInputEmail1">Email:</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email"
              required />
            <small id="emailHelp" class="form-text text-muted">We will not share your email with anyone else.</small>
          </div>
          <br />
          <div class="form-group">
            <label for="exampleInputPassword1">Password:</label>
            <input type="password" class="form-control" id="exampleInputPassword1" maxlength="1024" name="password"
              required />
          </div>
          <br />
          <button type="submit" class="btn btn-primary">Register</button>
      </form>
    </main>
</body>

</html>